{% extends "Gallus_Admin/base_index.html" %}
{% load static %}
{% block content %}
<style>
  textarea {
    background-color: black;color:#fff;
  }

</style>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{Title}}</h4>
            <p class="card-description">Are you sure you want to delete <strong>{{object.product_name}}</strong> ?</p>
            <form class="forms-sample" method = "POST" action='{% url "Gallus_Admin:deleteProduct" object.id %}' >
              {% csrf_token %}
             
              <button type="submit" class="btn btn-primary mr-2">Yes</button>              
            </form>
            <br>
            <a href='{% url "Gallus_Admin:GallusAdmin" %}'><button type="" class="btn btn-primary mr-2">No</button></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
    </div>
  </div>
</div>

{% endblock content %}